@import './_variables';

@mixin transition-ease($duration: .25s) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -ms-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin reset__padding() {
  padding: 0;
}

@mixin reset__margin() {
  margin: 0;
}

@mixin reset() {
  @include reset__margin();
  @include reset__padding();
}

@mixin unselectable() {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin center() {
  display: flex;
  justify-content: center;
}
@mixin viewport__view() {
  width: 100vw;
  height: 100vh;
}

@mixin app__view() {
  width: 80vw;
}

@mixin large() {
  width: 80%;
}

@mixin medium() {
  width: 40%;
}

@mixin small() {
  width: 20%;
}

@mixin font__size--main() {
  font-size: 22px;
}

@mixin todo__input() {
  @include transition-ease();
  @include unselectable();
  @include font__size--main();
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid $color--input;
  color: $color--input;
  height: 40px;

  &:focus {
    outline: none;
  }
}

@mixin todo__checkbox($size, $duration) {
  height: $size;
  width: $size;
  background-color: transparent;
  border: $size * .1 solid $color__black;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease $duration/2;
  -o-transition: border-color ease $duration/2;
  -webkit-transition: border-color ease $duration/2;
  transition: border-color ease $duration/2;
  cursor:pointer;

  &::before, &::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: $size * .2;
    background-color: $color__input--checked;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    -webkit-transition: opacity ease 0.5s;
    -moz-transition: opacity ease 0.5s;
    transition: opacity ease 0.5s;
  }

  &::before {
    top: $size * .72;
    left: $size * .41;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  &::after {
    top: $size * .37;
    left: $size * .05;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}