@import "./_variables";

@mixin transition-ease($duration: .25s) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -ms-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin reset__padding() {
  padding: 0;
}

@mixin reset__margin() {
  margin: 0;
}

@mixin reset() {
  @include reset__margin();
  @include reset__padding();
}

@mixin unselectable() {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@mixin todo__input() {
  all: unset;
  @include transition-ease();
  @include unselectable();
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid $color--input;
  color: $color--input;
  height: 40px;

  &:focus {
    outline: none;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin center() {
  display: flex;
  justify-content: center;
}
@mixin viewport__view() {
  width: 100vw;
  height: 100vh;
}

@mixin app__view() {
  width: 80vw;
}

@mixin large() {
  width: 80%;
}

@mixin medium() {
  width: 40%;
}

@mixin small() {
  width: 20%;
}

@mixin font__size--main() {
  font-size: 22px;
}