$background__color--primary--light: #fefefe;
$background__color--primary--dark: #2c2b2c;

$color--primary: #2c3e50;
$color--input: #fefefe;

$font__family--primary: 'Avenir', Helvetica, Arial, sans-serif;