$background__color--primary--light: #fefefe;
$background__color--primary--dark: #2c2b2c;

$color--primary: #2c3e50;
$color--input: #fefefe;
$color__white: #ffffff;
$color__black: #000000;
$color__input--checked: $color--input;

$font__family--primary: 'Avenir', Helvetica, Arial, sans-serif;